Flask
Werkzeug
pypdf                                       
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
faiss-cpu
sentence-transformers
ollama
fpdf
pysqlite3
numpy