<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h2>Upload File</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <div><input type="file" name="file" id="file"></div>
        <div style="float:right ;"><input type="checkbox" name="is_company_po" id="is_company_po"> File is Company PO</div>
        <div><button type="submit">Upload</button></div>
    </form>
    <div id="response"></div>
    <div id="get_result" style="display: none;">
        <!-- <p>Ask the multiple questions separated by comma (, )</p> -->
        <!-- <textarea id="questions" rows="4" cols="50"></textarea> -->
        <input type="hidden" id="file_name">
        <p id="error_text" id="error_text" style="color: red; display: none;">mandatory * </p>
        <button type="submit"  id="get_result_class" style="display: none;">Get Result</button>
    </div>

    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/upload.js"></script>
</body>
</html>
